<!-- Blog Sidebar Widgets Column -->
<div class="col-md-4">

    <!-- Blog Search Well -->
    <div class="well">
        <h4>Blog Search</h4>
        <div class="input-group">
            <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
        </div>
        <!-- /.input-group -->
    </div>

    <!-- Blog Categories Well -->
    <div class="well">
        <h4>Blog Categories</h4>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li><a href="{{ path('get_posts_for_category', {'slug':'Pills'}) }}">Category Pills</a>
                    </li>
                    <li><a href="{{ path('get_posts_for_category', {'slug':'Aerosols'}) }}">Category Aerosols</a>
                    </li>
                    <li><a href="{{ path('get_posts_for_category', {'slug':'Mixture'}) }}">Category Mixture</a>
                    </li>
                    <li><a href="{{ path('get_posts_for_category', {'slug':'Powders'}) }}">Category Powders</a>
                    </li>
                </ul>
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li><a href="{{ path('get_posts_for_category', {'slug':'Hygiene'}) }}">Category Hygiene</a>
                    </li>
                    <li><a href="{{ path('get_posts_for_category', {'slug':'Antibiotics'}) }}">Category Antibiotics</a>
                    </li>
                    <li><a href="{{ path('get_posts_for_category', {'slug':'Flu'}) }}">Category Flu</a>
                    </li>
                    <li><a href="{{ path('get_posts_for_category', {'slug':'Vitamins'}) }}">Category Vitamins</a>
                    </li>
                    {#<li><a href="#">Category Name</a>#}
                    {#</li>#}
                    {#<li><a href="#">Category Name</a>#}
                    {#</li>#}
                </ul>
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
    </div>

    <!-- Side Widget Well -->
    <div class="well">
        {{ render(controller('PillsBundle:Tag:topTags')) }}
    </div>

</div>